.card-container {
  background-color: papayawhip;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 10px;
  margin: 30px;
  padding: 2px 16px;
}

.card-container:hover {
  box-shadow: 0 8px 15px 0 rgba(0, 0, 0, 0.2);
}

.card-content {
  margin: 1rem;
  margin-top: 0.5rem;
}

h3,
p {
  margin: 0;
  padding: 0;
}
